@font-face {
    font-family: 'future_n0t_foundregular';
    src: url('fonts/future_n0t_found_regular-webfont.woff2') format('woff2'),
         url('fonts/future_n0t_found_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'forced-square';
    src: url('fonts/forced_square-webfont.woff2') format('woff2'),
        url('fonts/forced_square-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.logo svg {
    position: absolute;
    top: 5vh;
    left: calc(50vw - (13em/2));
    width: 13em;
}

.wave-text {
    font-family: "forced-square";

    position: absolute;
    font-size: 2.5em;
    color: #55c9ff;
    -webkit-text-stroke: 4px #5d005c;
    top: calc(5vh + 0.4em);
    left: calc(50vw - 0.6em);
    width: 2.2em;
    opacity: 0;
    transition-property: opacity;
    transition-duration: 1s;
    user-select: none;
}

.wave-text-black {
    font-family: "forced-square";

    position: absolute;
    font-size: 2.5em;
    color: #55c9ff;
    -webkit-text-stroke: 1.5px #000000;
    top: calc(5vh + 0.4em);
    left: calc(50vw - 0.6em);
    width: 2.2em;
    opacity: 0;
    transition-property: opacity;
    transition-duration: 1s;
    user-select: none;
}

#waveform {
    pointer-events: none;
}

body { 
    margin: 0;
    overflow: hidden;
    background-color: #1f1f1f;
}

.spect {
    position: absolute;
    top: 5vh;
    right: 3em;
    width: 30vw; 
    height: 12vh;
    overflow: hidden;
    display: none;
}

.foreground {
    background: linear-gradient(90deg, #1f1f1f 0%, rgba(255,255,255,0) 30%, rgba(255,255,255,0) 70%, #1f1f1f 100%);
    width: 30vw; 
    height: 12vh;
    z-index: 100;
    position: inherit;
}

.line {
    width: 2px;
    height: 12vh;
    background-color: red;
    position: absolute;
    left: calc(15vw - 1px);
}

.spect img {
    height: 12vh;
}

.audio-menu {
    border: 2px solid #5d005c;
    border-radius: 0.5em;
    color: white;
    background-color: #1f1f1f;
    width: 20vw;
    height: 7vh;
    position: sticky;
    overflow: initial;
    top: 5vh;
    left: 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5em;
}

.buttons {
    display: flex;
    width: 20vw;
    transform: translateY(4.5vh);
    position: absolute;
}

.buttons button i {
    cursor: pointer;
}

#song-name {
    font-family: "future_n0t_foundregular";
    white-space: nowrap;
    text-overflow: clip;
    overflow: hidden;
}

.buttons button {
    color: #4700bc;
    background: none;
    border: none;
    font-size: 1.5em;
    -webkit-text-stroke: 1px #55c9ff;
}

